<ul>
{{#each model}}
  <li>{{title}}</li>
{{/each}}
</ul>

{{#pagination-base action='previousPage' enabled=hasPreviousPage }}previous{{/pagination-base}}
{{#pagination-base action='nextPage' enabled=hasNextPage }}next{{/pagination-base}}
